.modal-dialog {
    max-width: 850px;
    margin: 2rem auto;
}
.accuracy-possition{
    position: absolute;
    top: 20px;
    right: 15px;
    border: 2px solid rgb(244, 26, 88);
    background-color: rgb(244, 26, 88);
    border-radius: 5px;
    color: white;
   padding:  4px;
}
.hide{
    display: none;
}
.target{
    color: brown;
}
.inputdata{
    font-size: 16px;
    font-weight: 500;
}
.outputdata{
    font-size: 15px;
    font-weight: 400;
}
.backGround{
    background-color: #eabdbd;
}
.back{
    background-color: #FFFFFF;
    text-align: center;
    
}